body {
    font-family: Arial, sans-serif;
    background-image: url('/static/images/landing.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    margin-top: 10vh;
    overflow: hidden;
}

.container {
    text-align: center;
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333333;
}

p {
    color: #666666;
}

.features {
    width: 94%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3vw;
}

.feature-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: white;
    height: 5vw;
    font-weight: bold;
    cursor: pointer;
}

.fb1 {
    background-color: #ffc108;
    margin-right: 2vw;
    color: black;
    animation: pulse1 .5s infinite ease-in-out alternate;
}

.fb2 {
    background-color: #dc3545;
    margin-left: 2vw;
    animation: pulse2 .5s infinite ease-in-out alternate;
}

@keyframes pulse1 {
    0% {
        transform: scale(1);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    100% {
        transform: scale(1.05);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    }
}

@keyframes pulse2 {
    0% {
        transform: scale(1.05);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
}

.feature-button:hover {
    background-color: black;
    color: white;
}

#clear-btn {
    top: 55%; 
}

.intro {
    width: 100%; 
    display: flex;
    justify-content: center;
}

.container {
    text-align: center;
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 45%; 
    height: fit-content !important;
}

.results {
    position: absolute;
    top: 21%;
    width: 42%;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    max-height: 28vh;
}

.hidden {
    display: none;
}
.show-flex {
    display: flex;
}

.loader {
    border: 5px solid #f3f3f3; 
    border-top: 5px solid #3498db; 
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#concurrency-mkdwn-cont {
    background-color: inherit;
    position: fixed;
    bottom: -3vw;
    width: 100%;
    justify-content: center;
    z-index: 2;

    .markdown-box {
        background-color: white;
        width: 46%;
        padding: 0vh 2vw;
        border-right: 4px solid black;

        header {
            background: beige;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 105%;
            position: relative;
            left: -5%;
            padding-left: 2vw;
            border: 4px solid black;

            .code-btn {
                width: 5vw;
                margin-left: 2vw;
                background-color: black;
                color: white;
                border-radius: 5px;
                font-weight: bold;
                cursor: pointer;
                height: 3vw;
            }
        }
    }
}

.reset-btn {
    position: fixed;
    top: 1vw;
    margin-left: 1vw;
    width: 5vw;
    height: 3vw;
    z-index: 3;
    background-color: whitesmoke;
    color: black;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
} 

.concurrency-steps-container {
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -12%;
    background: black;

    h1 {
        color: whitesmoke;
    }

    .step {
        display: flex;
        align-items: center;
        margin: 20px 0;
    }
    .arrow {
        margin: 0 20px;
        font-size: 20px;
        color: white;
    }
    .box {
        padding: 15px 30px;
        border-radius: 8px;
        color: white;
        text-align: center;
        position: relative;
        animation: pulse 1s ease-in-out infinite;
        animation-play-state: paused;
    }
    .request-reception {
        background-color: #007bff;
    }
    .task-creation {
        background-color: #ffc107;
    }
    .event-loop-scheduling {
        background-color: #dc3545;
    }
    .event-loop-monitoring {
        background-image: linear-gradient(to right, red , orange);

    }
    .context-switching {
        background-image: linear-gradient(to right, orange , red);

    }
    .response-handling {
        background-color: #17a2b8;
    }
    .response-transmission {
        background-color: #28a745;
    }
    .label {
        font-weight: bold;
        margin-bottom: 5px;
        display: block;
    }
    .description {
        font-size: 14px;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
    }
    50% {
        transform: scale(1.1);
        box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
    }
}


/*************** WebSocket iFrame  *******************/
.wic-right {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 30%;
    height: 70%;
}

.wic-left {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 30%;
    height: 70%;
}